@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

html a {
  text-decoration: none;
  color: inherit;
}

html input {
  outline: none;
}

.hide {
  display: none;
}

.alert {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9999;
}

.header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 1200px) {
  .header--floating {
    position: fixed;
    top: 0;
    background-color: #fff;
  }
}

.header__container {
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .header__desktop {
    display: none;
  }
}

.header__mobile {
  display: none;
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
  .header__mobile {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  height: 70px;
  line-height: 70px;
  text-align: center;
}

@media (max-width: 1200px) {
  .header__logo {
    flex-grow: 1;
  }
}

.header__img {
  height: 25px;
  transform: translateY(10px);
}

.header__search {
  position: relative;
}

.header__icon {
  width: 24px;
  opacity: 26%;
  top: 8px;
  position: absolute;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.26);
  line-height: 40px;
}

.header__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding-left: 40px;
}

.header__input:hover {
  border-color: #000;
}

.header__input::placeholder {
  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Open Sans";
  color: #9b9b9b;
}

.header__drawer {
  width: 24px;
  opacity: 54%;
  display: none;
}

.header__drawer--active {
  display: block;
}

.header__drawer .menu__title, .header__drawer .close__title {
  text-transform: lowercase;
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0;
}

@media (max-width: 1200px) {
  .header__menu {
    display: none;
  }
}

.header__menu .menu__list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__menu .menu__link {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: baseline;
}

.header__menu .menu__link:hover {
  border-bottom: 2px solid #000;
}

.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  padding: 16px;
}

.main__breadcrumbs {
  margin-bottom: 16px;
}

.main__breadcrumbs .breadcrumbs__list {
  display: flex;
}

@media (max-width: 1200px) {
  .main__breadcrumbs .breadcrumbs__list {
    justify-content: center;
  }
}

.main__breadcrumbs .breadcrumbs__item {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #585858;
}

@media (max-width: 1200px) {
  .main__breadcrumbs .breadcrumbs__item {
    display: none;
  }
}

.main__breadcrumbs .breadcrumbs__item:not(:last-child):hover {
  text-decoration: underline;
}

.main__breadcrumbs .breadcrumbs__item--active {
  color: #261e1e;
}

@media (max-width: 1200px) {
  .main__breadcrumbs .breadcrumbs__item--active {
    display: block;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.main__breadcrumbs .breadcrumbs__separator {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}

.main__filters {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

@media (max-width: 1200px) {
  .main__filters {
    display: none;
  }
}

.main__filters .filters__list {
  display: flex;
}

.main__filters .filters__item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}

.main__filters .filters__item:hover {
  cursor: pointer;
  background-color: rgba(38, 30, 30, 0.04);
}

.main__filters .filters__label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #261e1e;
}

.main__filters .filters__img {
  height: 20px;
  margin-left: 8px;
}

.main__products {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main__products .products__row {
  margin: 8px;
}

.main__products .products__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .main__products .products__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .main__products .products__card {
    flex-basis: 50%;
  }
}

@media (min-width: 1201px) {
  .main__products .products__list {
    flex-wrap: wrap;
  }
  .main__products .products__card {
    flex-basis: 25%;
  }
}

.main__products .products__card .card {
  cursor: pointer;
  border: 1px solid white;
  padding: 8px;
}

.main__products .products__card .card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.main__products .products__card .card__img {
  max-width: 100%;
  max-height: 100%;
}

.main__products .products__card .card__description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

.main__products .products__card .card__price {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}

.footer__container {
  margin: 0 auto;
  width: 90%;
}

.footer__contact .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact .contact__info {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}

.footer__contact .contact__input {
  height: 24px;
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  outline: none;
  width: 300px;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #000;
}

.footer__contact .contact__input:hover {
  border-bottom: 2px solid #261E1E;
}

.footer__contact .contact__input:focus-within {
  border-bottom: 2px solid #261E1E;
}

.footer__contact .contact__input::placeholder {
  font-style: italic;
  opacity: 42%;
  font-weight: 600;
}

.footer__contact .contact__btn {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
}

.footer__contact .contact__btn__txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.footer__contact .contact__msg-app {
  font-size: 0.9375rem;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

.footer__contact .contact .apps__img {
  width: 110px;
  margin-left: 8px;
}

.footer__links {
  background-color: #f6f6f6;
  margin-top: 40px;
}

.footer__links .links {
  display: flex;
}

.footer__links .links__contacts {
  width: 30%;
  display: flex;
}

.footer__links .links__contacts .col {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.footer__links .links__contacts .contact-icon {
  text-align: center;
}

.footer__links .links__contacts .contact-icon__img {
  display: block;
  margin: auto;
  width: 25px;
}

.footer__links .links__contacts .contact-icon__text {
  padding: 8px;
  font-size: 0.8125rem;
  white-space: pre-line;
}

.footer__links .links__separator {
  width: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}

.footer__links .links__companies {
  display: flex;
  width: 60%;
  padding: 50px;
}

.footer__links .links__companies .company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.footer__links .links__companies .company-links__item {
  padding-top: 8px;
}

.footer__links .links__companies .company-links__title {
  text-transform: uppercase;
  font-size: 0.875rem;
}

.footer__links .links__companies .company-links__text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}

.footer__links .links__companies .company-links__text:hover {
  text-decoration: underline;
}

.footer__payment {
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer__payment .payment {
  display: flex;
}

.footer__payment .payment__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__payment .payment__alternatives {
  width: 50%;
}

.footer__payment .payment__img {
  margin: 2px;
  width: auto;
}

.footer__payment .payment__social {
  flex-grow: 1;
}

.footer__payment .payment__social .social__icons {
  display: flex;
}

.footer__payment .payment__social .social__icon {
  width: 50px;
}

.footer__payment .payment__social .social__icon .icon__img {
  display: block;
  margin: auto;
}

.footer__payment .payment__social .social__icon .icon__text {
  padding-top: 4px;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
}

.footer__payment .payment__accessibility {
  flex-grow: 1;
}

.footer__bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}

.footer__bottom .bottom {
  display: flex;
}

.footer__bottom .copyright {
  width: 83.333333%;
}

.footer__bottom .copyright__text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}

.footer__bottom .copyright__stamp {
  margin: 0 auto;
}